.badge {
  background-color: tomato;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: white;
  font-weight: 600;
}

.screen-header__icons {
  position: relative;
}
.header-cog {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  bottom: 100%;
  left: 100%;
}
